// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: lightblue;
$pink: pink;
$yellow: #ffff80;
$green: lightgreen;
$gray: lightgray;

$pink_left: #ff7990;
$pink_right: #fffdfe;

$gray_left: #afafaf;
$gray_right: #f2f2f2;

$green_left: #52e552;
$green_right: #c5f6c5;

$yellow_left:  #ffff00;
$yellow_right: whitesmoke;

$blue_left: DeepSkyBlue;
$blue_right: #ebf6f9;
