// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pink-post {
  background: -webkit-linear-gradient(0deg, $pink_left, $pink, $pink_right);
  background: -o-linear-gradient(0deg, $pink_left, $pink, $pink_right);
  background: -moz-linear-gradient(0deg, $pink_left, $pink, $pink_right);
  background: linear-gradient(0deg, $pink_left, $pink, $pink_right);
  box-shadow: 1px 3px 5px black;
}

.gray-post {
  background: -webkit-linear-gradient(0deg, $gray_left, $gray, $gray_right);
  background: -o-linear-gradient(0deg, $gray_left, $gray, $gray_right);
  background: -moz-linear-gradient(0deg, $gray_left, $gray, $gray_right);
  background: linear-gradient(0deg, $gray_left, $gray, $gray_right);
  box-shadow: 1px 3px 5px black;
}

.green-post {
  background: -webkit-linear-gradient(0deg, $green_left, $green, $green_right);
  background: -o-linear-gradient(0deg, $green_left, $green, $green_right);
  background: -moz-linear-gradient(0deg, $green_left, $green, $green_right);
  background: linear-gradient(0deg, $green_left, $green, $green_right);
  box-shadow: 1px 3px 5px black;
}

.blue-post {
  background: -webkit-linear-gradient(0deg, $blue_left, $blue, $blue_right);
  background: -o-linear-gradient(0deg, $blue_left, $blue, $blue_right);
  background: -moz-linear-gradient(0deg, $blue_left, $blue, $blue_right);
  background: linear-gradient(0deg, $blue_left, $blue, $blue_right);
  box-shadow: 1px 3px 5px black;
}

.yellow-post {
  background: -webkit-linear-gradient(0deg, $yellow_left, $yellow, $yellow_right);
  background: -o-linear-gradient(0deg, $yellow_left, $yellow, $yellow_right);
  background: -moz-linear-gradient(0deg, $yellow_left, $yellow, $yellow_right);
  background: linear-gradient(0deg, $yellow_left, $yellow, $yellow_right);
  box-shadow: 1px 3px 5px black;
}
