.post, .pink-post, .gray-post, .green-post, .blue-post, .yellow-post {
    padding: 10px;
}

.post-holder {
    padding: 5px;
    font-family: Lato;
}

.post-pin {
    position: absolute;
    top: -10px;
    right: 25px;
}

.post-sco {
    position: absolute;
    top: -20px;
    left: -15px;
}

.sitename, .create_link, .title {
    padding: 20px;
    font-family: Eraser;
    color: whitesmoke;
}

.sitename {
    font-size: 300%;
    text-shadow: -1px -1px black, 4px 4px 6px black;
}

.create_link, .title {
    font-size: 150%;
    text-shadow: -1px -1px black, 2px 2px 4px black;
}

.form-control, .bigger {
    font-size: 150%;
}

.psevdo_link {
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.adcontent {
    font-size: 120%;
}

.active {
    padding-bottom: 10px;
    border-bottom: 3px dotted whitesmoke;
}

.paper {
    padding: 30px 40px;
    border-radius: 15px;
    background-size: cover;
    background-image: url('/images/paper.jpg');
}

.custom_pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

.custom_pagination li {
    font-weight: 400;
    font-size: 200%;
    margin: 30px;
}

.custom_pagination li.disabled {
    display: none;
}

.custom_pagination li.active {
    color: white;
    padding-bottom: 0px;
}

.three_dots {
    color: white;
}

.title_link, .title_link:hover {
    color: inherit;
}

.control {
    padding: 5px;
    border: 2px solid #212529;
    border-radius: 7px;
    margin: 10px;
}

.half {
    width: 49%;
    display: inline-block;
}
